:root {
  --black: #231f20;
  --secondary-red: #ef3d3a;
  --red: #d33833;
  --secondary-skin: #f7e4cd;
  --skin: #f0d6b7;
  --white: #ffffff;
  --mughair-lightgrey: #dcd9d8;
  --suit: #335061;
  --suit-secondary: #49728b;
  --hair-gray: #6d6b6d;
  --suit-lightblue: #81b0c4;
}